---
###
# note: will result in an all-in-one-file stylesheet e.g. style.css
#   in _config.yml add:
#     sass:
#       sass_dir: css
#       style:    expanded
---


@import 'settings';

/*
 * css styles go here
 */

body {
  font-family: $font-family;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.menu-item {
  margin-left: auto;
  padding: 1rem;
}

#logo img {
  max-width: 50%;
}

#content {
  position: relative;
  width: 75%;
  display: block;
  margin: auto;
  margin-top: -2rem;
  z-index: 999;
  background-color: #ffffff;
  padding-top: 2rem;
  border: 1px solid #3B6B89;
}

#content h1 {
  color: #DA253A;
  width: 100%;
  text-align:center;
}


#footer {
  width: 100%;
  text-align: center;
}

#header .small {
  font-size:    90%;
  color:        grey;
  padding-left: 15px;
}

#hero-image {
  width: 100%;
}

#hero {
  background-image: url(/assets/img/hero-image.jpg);
  padding-bottom: 4rem;
  min-height: 25rem;
}

#hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  top: 10rem;
  width: 100%;
}

#hero-content h1 {
  color: #ffffff;
  font-size: 4rem;
  text-shadow: 3px 3px 10px #3B6B89;
}

#hero-content h3 {
  color: #ffffff;
  text-shadow: 3px 3px 10px #3B6B89;
}

#hero-content a.button {
  margin-bottom: 1rem;
}

a.button {
  background-color: #DA253A;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
}

.material-icons {
  color: #da253a;
  font-size: 5rem !important;
  margin-left: 33%;
}

.what-we-do {
  flex-direction: column;
  padding: 1rem;
  max-width: 30%;
  margin-left: auto;
}

#what-we-do-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

#about {
  background-color: #DA253A;
  color: white;
  box-sizing: border-box;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

#about h1 {
  color: white;
}

.event {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; 
}

.event-item {
  max-width: 40%;
  margin-left: auto;
}

.event-item img {
  max-width: 80%;
}

.connect {
  display: flex;
  flex-direction: column;
  margin-left:auto;
  align-content: center;
  padding-left: 1rem;
  padding-bottom: 1rem;
  background-color: #DA253A;
  padding-top: 2rem;
}

.connect a {
  color: white;
}

.connect h1 {
  color: white !important;
  text-align: left !important;
  padding-left: 2rem;
}

.social-icon {
  width: 5%;
  padding-right: 1rem;
  padding-left: 2rem;
}

.footer {
  width: 100%;
  background-color: #3B6B89;
  color: white;
  display: flex;
  justify-content: center;
}