---
###
# note: will result in an all-in-one-file stylesheet e.g. style.css
#   in _config.yml add:
#     sass:
#       sass_dir: css
#       style:    expanded
---


@import 'settings';

/*
 * css styles go here
 */

body {
  font-family: $font-family;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#logo {
  height: 10rem;
}

#content {
  width: 66%;
  display: block;
  margin: auto;
}

#footer {
  width: 100%;
  text-align: center;
}


#header {
  display: fixed;
  width: 100%;
  text-align: center;
  border-bottom: solid 3px #DE1E35;
}


#header .small {
  font-size:    90%;
  color:        grey;
  padding-left: 15px;
}

#nav {
  padding: 6px;
}


#menuToggle
{
  display: block;
  position: relative;
  top: 3rem;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 0px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

// Hamburger menu stuff
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #DE1E35;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #446C85;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu a {
  color: #ffffff;
}


#menuToggle input:checked ~ ul
{
  transform: none;
}