---
###
# note: will result in an all-in-one-file stylesheet e.g. style.css
#   in _config.yml add:
#     sass:
#       sass_dir: css
#       style:    expanded
---


@import 'settings';

/*
 * css styles go here
 */

body {
  font-family: $font-family;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: 'Roboto';
  font-size: 36px;
}

h2 {
  font-family: 'Roboto';
  font-size: 32px;
}

h3 {
  font-family: 'Roboto';
  font-size: 24px;
}

h4 {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: normal;
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.menu-item {
  margin-left: auto;
  padding: 1rem;
}

#logo img {
  max-width: 50%;
}

@media (max-width: 600px) {
  #logo {
    max-width: 100%;
    margin: auto;
  }
}

#content {
  position: relative;
  width: 75%;
  display: block;
  margin: auto;
  margin-top: -2rem;
  z-index: 999;
  background-color: #ffffff;
  padding-top: 2rem;
  border: 1px solid #3B6B89;
  font-family: 'Roboto';
  font-size: 15px;
  max-width: 1920px;
}

@media (max-width: 600px) {
  #content {
  width: 100%;
  }
 }

#content h1 {
  color: #DA253A;
  width: 100%;
  text-align:center;
}


#footer {
  width: 100%;
  text-align: center;
}

#header .small {
  font-size:    90%;
  color:        grey;
  padding-left: 15px;
}

#hero-image {
  width: 100%;
}

#hero {
  background:
    linear-gradient(
      RGBA(50, 52, 39, .45), 
      RGBA(50, 52, 39, .45)
    ), url(/assets/img/hero-image.jpg);
  padding-bottom: 4rem;
  min-height: 25rem;
  max-width: 1920px;
  margin: auto;
}

@media (max-width: 600px) {
  #hero {
    background-position: top center;
  }
}

#hero-events {
  background:
    linear-gradient(
      RGBA(50, 52, 39, .45), 
      RGBA(50, 52, 39, .45)
    ), url(/assets/img/pingpong-hero.jpg);
  background-position: top -15rem center;
  background-size: cover;
  padding-bottom: 4rem;
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  #hero-events {
    background-position: top center;
  }
 }

#hero-events h1 {
  font-size: 67px;
  color: white;
}

#hero-noimg {
  background-color: #E51937;
  min-height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: auto;
}

#hero-noimg h1 {
  color: white;
}

@media (max-width: 600px) {
  #hero-noimg h1 {
    font-size: 36px;
    color: white;
  }
}

#hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  top: 10rem;
  width: 100%;
}

#hero-content h1 {
  color: white;
}

@media (max-width: 600px) {
  #hero-content {
    padding: 1em;
  }
}

#hero-content h1 {
  color: #ffffff;
  font-size: 67px;
}

@media (max-width: 600px) {
  #hero-content h1 {
    font-size: 36px;
  }
}

#hero-content h3 {
  color: #ffffff;
}

#hero-content a.button {
  margin-bottom: 1rem;
}

a.button {
  background-color: #DA253A;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
}

.material-icons {
  color: #da253a;
  font-size: 5rem !important;
  margin-left: 33%;
}

.what-we-do {
  flex-direction: column;
  padding: 1rem;
  max-width: 30%;
  margin-left: auto;
}

#what-we-do-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

#about {
  background-color: #DA253A;
  background: 
    linear-gradient(
      RGBA(229, 25, 55, .45), 
      RGBA(229, 25, 55, .45)
    ),
    url(/assets/img/chicago-theater.jpg);
  background-position: center center;
  background-size: cover;
  color: white;
  box-sizing: border-box;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

#about h1 {
  color: white;
}

.event {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; 
}

.event p {
  padding-bottom: .5em;
}

.event h4 {
  margin-bottom: .5em !important;
  margin-top: 0em !important;
}

.event h3 {
  margin-bottom: .5em !important;
  margin-top: 0em !important;
}

.event h2 {
  text-align: center;
  margin: auto;
}

.event-item {
  max-width: 40%;
  // margin-left: auto;
}

@media (max-width: 600px) {
  .event-item {
  max-width: 100%;
  }
 }

.event-item img {
  max-width: 80%;
}

.connect {
  display: flex;
  flex-direction: column;
  margin-left:auto;
  align-content: center;
  padding-left: 1rem;
  padding-bottom: 1rem;
  background-color: #DA253A;
  padding-top: 2rem;
}
.connect {
  background: 
  linear-gradient(
    RGBA(50, 52, 39, .6), 
    RGBA(50, 52, 39, .6)
  ),
  url(/assets/img/chicago-skyline.jpg);
  background-position: top -10rem center;
  background-size: cover;
}

.connect a {
  color: white;
}

.connect ul {
  font-size: 1.5rem;
  list-style-type: none;
}

.connect h1 {
  color: white !important;
  text-align: left !important;
  padding-left: 2rem;
}

.social-icon {
  width: 5%;
  padding-right: 1rem;
  padding-left: 2rem;
}

.footer {
  width: 100%;
  background-color: #3B6B89;
  color: white;
  display: flex;
  justify-content: center;
  max-width: 1920px;
  margin: auto;
}

.board-member {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 10%;
  margin-bottom: 5em;
}

.board-photo {
  max-width: 40%;
  margin-right: 10%;
}

.board-photo img {
  max-width: 12rem;
}
@media (max-width: 600px) {
  .board-photo {
  max-width: 100%;
  }
 }

.board-bio {
  max-width: 40%;
}
@media (max-width: 600px) {
  .board-bio {
    max-width: 100%;
  }
 }

.board-bio .fa-envelope {
  font-size: 2em;
}