
<div id="header">
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
    <ul id="menu">
    {% for item in site.nav %}
      {% if item.href contains 'http' %}
         <a href="{{ item.href }}"><li>{{ item.title }}</li></a>
      {% else %}
         <a href="{{ item.href | relative_url }}"><li>{{ item.title }}</li></a>
      {% endif %}
    {% endfor %}
    </ul>
    
      </div>
    </nav>
  <span><a href="/"><img id="logo" src="/logo.jpg" alt="Chicago YGL Logo"></a></span>
</div>

