<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
<div id="hero">
    <div id="hero-content">
      <h1>Events</h1>>
      <div class="hero-button"><a class="button" href="#">Get Event Updates</a></div>
    </div>
</div> 

<div id="content">
        <div class="event">

        <div class="event-item">
        <h4>5:00pm Monday, Month, 2019</h4>
        <h3>Monthly Happy Hour</h3>
          <p>Here is a description of the happy hour event. It talks about it to some detail in a way that is nice to read.
          You definitely want to come.</p>
         <p><a class="button" href="#">RSVP</a>
          <a href="#">Details</a></p>
        </div>
        <div class="event-item">
          <img class="event-photo" src="/assets/img/ceres-cafe.jpg"/>
        </div>
  
  
    </div>

    <div class="event">

            <div class="event-item">
            <h4>5:00pm Monday, Month, 2019</h4>
            <h3>Monthly Happy Hour</h3>
              <p>Here is a description of the happy hour event. It talks about it to some detail in a way that is nice to read.
              You definitely want to come.</p>
             <p><a class="button" href="#">RSVP</a>
              <a href="#">Details</a></p>
            </div>
            <div class="event-item">
              <img class="event-photo" src="/assets/img/ceres-cafe.jpg"/>
            </div>
      
      
    </div>

        <div class="event">

                <div class="event-item">
                <h4>5:00pm Monday, Month, 2019</h4>
                <h3>Monthly Happy Hour</h3>
                  <p>Here is a description of the happy hour event. It talks about it to some detail in a way that is nice to read.
                  You definitely want to come.</p>
                 <p><a class="button" href="#">RSVP</a>
                  <a href="#">Details</a></p>
                </div>
                <div class="event-item">
                  <img class="event-photo" src="/assets/img/ceres-cafe.jpg"/>
                </div>
          
          
        </div>
        
</div>

<div class="connect">
        <h1>Connect</h1>
        <a href="#"><img class="social-icon" src="/assets/img/flogo-HexRBG-Wht-58.png">Facebook</a>
        <a href="#"><img class="social-icon" src="/assets/img/Twitter_Logo_WhiteOnImage.png">Twitter</a>
        <a href="#"><img class="social-icon" src="/assets/img/glyph-logo_May2016.png">Instagram</a>
        <a href="#"><img class="social-icon" src="/assets/img/mail.png">Email</a>
      </div>
    </div>
    
    {% include footer.html %}
    
    </body>
    </html>

