<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
<div id="hero">
    <div id="hero-content">
      <h1>Young Government <br/> Leaders Chicago</h1>
      <h3>Develop your career, have fun, make a difference, and get to know aspiring leaders in Chicago!</h3>
      <div class="hero-button"><a class="button" href="/getupdates/">Get Event Updates</a></div>
    </div>
</div> 

<div id="content">
    <h1>
        What we do
    </h1>
  <div id="what-we-do-container">
  <div class="what-we-do">
      <i class="material-icons">
          business_center
      </i>
    <h3>Professional Development</h3>
    <p>
      We have lots of opportunities to grow your career and skills from seminars to town halls.
    </p>

  </div>

  <div class="what-we-do">
      <i class="material-icons">
          group
          </i>
    <h3>Social Events</h3>
    <p>
      Get to know other asipiring young professionals in Chicago at our regular happy hours.
    </p>


  </div>

  <div class="what-we-do">
      <i class="material-icons">
          public
          </i>
    <h3>Service Opportunities</h3>
    <p>
      Get involved in the community and use your skills to make a difference.
    </p>

  </div>
</div>
  <div id="about">
    <h1>About YGL Chicago</h1>
    <p>Our free membership includes local, state, and federal employees, as well as college students hoping to enter public Service
    </p>
    <p>
        upon graduation. We are interested in furthering our public service careers through professional deveopment activities, 
        networking opportunities, social events, seminars, and community involvement. 

    </p>
  </div>
  <h1>Coming Up Next</h1>
  {% eventbrite_event %}
  
 {% include connect.html %}
</div>

{% include footer.html %}

</body>
</html>
