<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}
<div id="hero-noimg">
    <div id="hero-content">
      <h1>Who We Are</h1>
    </div>
</div> 

<div id="content">
    <div class="board-member">
        <div class="board-photo">
            <img src="/assets/img/lexy-headshot.jpg"/>
        </div>
        <div class="board-bio">
            Lexy is a Contract Specialist with the U.S. General Services Administration and previously was a Peace Corps Volunteer in Morocco. She has been on the Board of 
            Young Government Leaders Chicago for the last 2 years. During that time Lexy has worked to create the monthly happy hours, expand membership and opportunities
                for collaboration with other local Chicago organizations.She is excited you are here and cannot wait to meet you at one of our upcoming events!"
        </div>
    </div>

    <div class="board-member">
        <div class="board-photo">
            <img src="/assets/img/lexy-headshot.jpg"/>
        </div>
        <div class="board-bio">
            Lauren Anderson is an analyst in the U.S. Department of Health and Human Services where she works on reports aimed at improving program efficiency. 
            Her previous government experiences include working at CMS, CDC, a county public health department, and interning at a U.S. Senator’s office.  
            Originally from Michigan, Lauren has happily called Chicago home for over 7 years. She can be reached on linkedIn [linkedin.com/in/lmanderso] and 
            would love to hear your thoughts about YGL events at events@chicago.younggov.org
        </div>
    </div>

    <div class="board-member">
        <div class="board-photo">
            <img src="/assets/img/ryan-headshot.PNG"/>
        </div>
        <div class="board-bio">
            Ryan is a veteran, technologist, and passionate problem solver. He moved to Chicago in 2017 after growing up in Cincinnati and spending around a decade in Columbus. He’s spent 8 years 
            honing skills in the tech sector having journeyed through a variety of disciplines before settling into software engineering. 
            He's currently engaged in this work at Truss.
            Civic engagement is a cornerstone of ‘who Ryan is.’ He expresses that through his work as the Director of Technology here at Chicago YGL. In the past he’s managed political campaigns, 
            has been a candidate for public office, and has successfully lobbied for computer science education reform in Ohio.
        </div>
    </div>
    {% include connect.html %}
</div>

{% include footer.html %}